@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply appearance-none;
    background-color: inherit;
  }
}

@layer components {
  .screen_out {
    @apply overflow-hidden absolute w-0 h-0 indent-0;
  }
  .margin_center {
    @apply mx-auto my-0;
  }
  .max_min_width{
    @apply w-full max-w-[780px] min-w-[390px]
  }
  .tag_bg_gray {
    @apply px-[6px] py-[3px] rounded-[4px] box-border bg-gray-100 text-gray-600;
  }
  .tag_bd_gray {
    @apply px-[11px] py-[7px] border-[1.5px] border-gray-400 rounded-[26px] text-[14px] text-gray-600 box-border leading-[16px] whitespace-nowrap;
  }
  .btn_bg_black {
    @apply w-full h-[54px] bg-black rounded-[12px] rounded-bl-[5px] text-white text-[15px] font-semibold;
  }
  .pagination_review {
    @apply w-[8px] h-[8px] rounded-full bg-gray-300;
  }
  .blind {
    @apply inline-block overflow-hidden text-[0px] leading-[0] indent-[-9999px];
  }
}
