.ico_pravel {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-image: url('/img_pravel.png');
  background-size: 300px 300px;
  vertical-align: middle;
}
.ico_prev24 {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.ico_close24 {
  width: 24px;
  height: 24px;
  background-position: -24px 0;
}
.ico_search24 {
  width: 24px;
  height: 24px;
  background-position: -48px 0;
}
.ico_map {
  width: 36px;
  height: 36px;
  background-position: 0 -24px;
}
.ico_map_on {
  width: 36px;
  height: 36px;
  background-position: 0 -60px;
}
.ico_list {
  width: 36px;
  height: 36px;
  background-position: -36px -24px;
}
.ico_list_on {
  width: 36px;
  height: 36px;
  background-position: -36px -60px;
}
.ico_like32_on {
  width: 32px;
  height: 32px;
  background-position: -72px -46px;
}
.ico_compass {
  width: 112px;
  height: 112px;
  background-position: 0 -96px;
}
.ico_prev32,
.ico_next32 {
  width: 32px;
  height: 32px;
  background-position: -112px -96px;
}
.ico_next32 {
  transform: rotate(180deg);
}
.ico_plus24 {
  width: 24px;
  height: 24px;
  background-position: -144px -96px;
}
.ico_home {
  width: 40px;
  height: 40px;
  background-position: -104px 0;
}
.ico_records {
  width: 40px;
  height: 40px;
  background-position: -144px 0;
}
.ico_mypage {
  width: 40px;
  height: 40px;
  background-position: -184px 0;
}
.ico_plus56 {
  width: 56px;
  height: 56px;
  background-position: -104px -40px;
}
.ico_map56 {
  width: 56px;
  height: 56px;
  background-position: -160px -40px;
}
.ico_cate_food {
  width: 24px;
  height: 24px;
  background-position: -216px -96px;
}
.ico_time24 {
  width: 24px;
  height: 24px;
  background-position: -112px -184px;
}
.ico_place24 {
  width: 24px;
  height: 24px;
  background-position: -136px -184px;
}
.ico_site24 {
  width: 24px;
  height: 24px;
  background-position: -160px -184px;
}
.ico_phone24 {
  width: 24px;
  height: 24px;
  background-position: -184px -184px;
}
.ico_p {
  width: 16px;
  height: 16px;
  background-position: -224px 0;
}
.ico_share24 {
  width: 24px;
  height: 24px;
  background-position: -208px -184px;
}
.ico_plus32 {
  width: 32px;
  height: 32px;
  background-position: 0 -208px;
}
.ico_send24 {
  width: 24px;
  height: 24px;
  background-position: -248px -40px;
}
.ico_new25 {
  width: 25px;
  height: 9px;
  background-position: -224px -175px;
}
.ico_close24_wh {
  width: 24px;
  height: 24px;
  background-position: -72px 0;
}
.ico_change24 {
  width: 24px;
  height: 24px;
  background-position: -192px -96px;
}

.ico_coupon24 {
  width: 24px;
  height: 24px;
  background-position: -146px -208px;
}

.ico_reward24 {
  width: 24px;
  height: 24px;
  background-position: -170px -208px;
}

.ico_energy10_16 {
  width: 10px;
  height: 16px;
  background-position: -240px 0px;
}

.ico_energy32 {
  width: 32px;
  height: 32px;
  background-position: -56px -232px;
}

.ico_used_energy32 {
  width: 32px;
  height: 32px;
  background-position: -88px -232px;
}

.ico_reward32 {
  width: 32px;
  height: 32px;
  background-position: -120px -232px;
}

.ico_used_reward32 {
  width: 32px;
  height: 32px;
  background-position: -152px -232px;
}

.ico_setting32 {
  width: 32px;
  height: 32px;
  background-position: -184px -232px;
}

.ico_black_arrow16 {
  width: 16px;
  height: 16px;
  background-position: -250px 0px;
}

.ico_white_arrow16 {
  width: 16px;
  height: 16px;
  background-position: -266px 0px;
}

.ico_black_marker24 {
  width: 24px;
  height: 24px;
  background-position: -248px -16px;
}

.ico_left_black_arrow24 {
  width: 24px;
  height: 24px;
  background-position: -272px -16px;
}

.ico_right_gray_arrow24 {
  width: 24px;
  height: 24px;
  background-position: -232px -184px;
}

.ico_search30 {
  width: 30px;
  height: 30px;
  background-position: -56px -264px;
}

.ico_prev_box20 {
  width: 20px;
  height: 20px;
  background-position: -194px -208px;
}

.ico_next_box20 {
  width: 20px;
  height: 20px;
  background-position: -194px -208px;
  transform: rotate(180deg);
}

.ico_location24 {
  width: 24px;
  height: 24px;
  background-position: -256px -184px;
}
